<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/css.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#F39C12'"
        [innerStrokeColor]="'#5B2C6F'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/html5a.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#F39C12'"
        [innerStrokeColor]="'#5B2C6F'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/javas.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#F39C12'"
        [innerStrokeColor]="'#5B2C6F'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/comunicacion.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/gestion del tiempo.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/ingles.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
  </div>
</div>
