<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/css.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#FFA500'"
        [innerStrokeColor]="'#8b008b'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/html5b.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#FFA500'"
        [innerStrokeColor]="'#8b008b'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/javas-b.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#FFA500'"
        [innerStrokeColor]="'#8b008b'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/comunicacion-b.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#FFA500'"
        [innerStrokeColor]="'#8b008b'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/gestion_del_tiempo-b.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#FFA500'"
        [innerStrokeColor]="'#8b008b'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/ingles-b.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#FFA500'"
        [innerStrokeColor]="'#8b008b'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
  </div>
</div>
