<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoJor-1.png" class="img-fluid" id="fotodeperfil">
    </div>

<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">COSTILLA JORGELINA SOLEDAD</p>
    <p>Full Stack Developer Jr</p>
</div>

<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mí</h1>
        <p>Estudiante de programación en la etapa final de Argentina Programa.
           En este Portfolio Web, mi objetivo es presentarles el resultado de lo aprendido durante el curso.
           Me siento animada a continuar descubriendo y aprendiendo lo que este nuevo mundo virtual ofrece
           y trabajar en él. 
        </p>
    </span>
  </div>
</div>



